{% extends "layout.html.twig" %}

{% block title %}
    ajout User/Produit
{% endblock %}

{% block content %}
        <h1>Ajout d'un user</h1>

                {{ form(formUser) }}

        <br><h1>Ajout d'un produit</h1>

            {{ form(formProduit) }}
{% endblock %}